@import "./common_components.scss";
@import "./variables.scss";

.issue {
  display: grid;
  padding-bottom: 150px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 143px;
  row-gap: 70px;
  &__subtitle {
    @extend %subtitle-template;
    margin-bottom: 30px;
  }
  &__title {
    @extend %title-template;
    &--h3 {
      @extend %title-h3;
      margin-bottom: 70px;
      width: 33vw;
    }
  }
  &__text--width {
    width: 24vw;
  }
  &__left {
    padding-top: 204px;
    padding-left: 212px;
  }
  &__right {
    padding-top: 150px;
  }
  &__bottom-left {
    display: flex;
    padding-left: 411px;
    flex-direction: row-reverse;
  }
  &__bottom-rigth {
    display: flex;
  }
  &__wrapper {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    max-width: 16vw;
    &--margin {
      margin-right: 168px;
    }
  }
  .text {
    margin-top: 29px;
  }
}
