@import "../../../variables.scss";
@import "../../../components/common.scss";

.container {
  position: relative;
  & .program-purpose__wrapper1 {
    margin-bottom: 150px;
  }
}
.about-us .about-us__label {
  background: rgba(5, 54, 252, 1);
  color: white;
}
.who-are-we {
  height: 925px;
  overflow: hidden;
}
.who-are-we__wrapper .program-purpose__title {
  width: 36vw;
}
.who-are-we__wrapper .text {
  width: 24vw;
}
.partners {
  &__img-eleks {
    width: 138px;
    height: 40px;
    margin-top: 62px;
    margin-bottom: 57px;
  }
  &__img-k {
    width: 56px;
    height: 55px;
    margin-top: 54px;
    margin-bottom: 50px;
  }
  &__img-povir-logo {
    width: 40px;
    height: 68px;
  }
  &__img-povir_u_sebe {
    width: 56px;
    height: 55px;
  }
  &__img-wrapper {
    margin-top: 41px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(2, auto);
    & div:nth-child(4) {
      border-right: none;
    }
    & img:nth-child(7) {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 4;
      grid-column-end: 5;
      width: 100%;
      height: 100%;
    }
    & img:nth-child(8) {
      width: 100%;
      height: 100%;
    }
    & img:nth-child(10) {
      width: 100%;
      height: 100%;
    }
    &-item1 {
      padding: 70px 160px 81px 210px;
      background: rgba(255, 130, 1, 1);
      //   height: fit-content;
      & .program-purpose__title--h3 {
        margin-bottom: 100px;
      }
      & .program-purpose__subtitle,
      .program-purpose__title {
        color: white;
      }
      & .btn {
        background: white;
        color: rgba(255, 130, 1, 1);
      }
      & .btn:hover {
        background: rgb(255, 77, 1);
        color: white;
      }
    }
    &-item2 {
      padding-top: 120px;
      padding-bottom: 110px;
      padding-left: 50px;
      & .text {
        width: 13vw;
      }
      & .technology__subtitle {
        margin-bottom: 70px;
      }
    }
    & div:nth-child(5) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  &__wrapper {
    position: relative;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    &:hover {
      background: rgba(5, 54, 252, 1);
    }
    &:hover .number {
      color: white;
    }
    &:hover .subtitle--black {
      color: white;
    }
    &:hover .arrow-wrapper {
      display: block;
    }
  }
}
.arrow-wrapper {
  display: none;
}
.shared-container {
  &:hover {
    background-color: white;
  }
  &:hover .people__subtitle {
    color: black;
  }
  &:hover .people__text--width {
    color: black;
  }
  &:hover .nav__list-item--text-style {
    color: black;
  }
  &:hover {
    &.square-right {
      &::after {
        background: white;
      }
    }
    &.square-left {
      &::before {
        background: white;
      }
    }
  }
}
.community {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.text-width-1 {
  width: 14vw;
}
.our-activity {
  & .btn:hover {
    background: white;
  }
}
.nav__partners-link--check {
  color: #0536fc;
}
.nav__partners-link--check-mark {
  border-color: #0536fc;
}
