@import "../../../variables.scss";
@import "../../../components/common.scss";

.history {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 820px;
  column-gap: 50px;
  &__left {
    background-color: #ff8201;
    display: flex;
  }
  &__img {
    margin: auto;
    width: 545px;
    height: 545px;
  }
  &__right {
    padding-top: 120px;
  }
  &__subtitle {
    @extend %subtitle-template;
    margin-bottom: 30px;
  }
  &__title {
    @extend %title-template;
    &--h3 {
      line-height: 40px;
      font-size: 36px;
      margin-bottom: 70px;
      width: 32vw;
    }
  }
  &__text--width {
    width: 22vw;
    margin-bottom: 100px;
  }
}
