@import "../../../variables.scss";
@import "../../../components/common.scss";

.partners {
  & .nav__logo-text {
    width: 19vw;
    padding-bottom: 100px;
  }
  &__top {
    padding-left: 210px;
  }
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    &-container {
      width: 25%;
      position: relative;
      padding-left: 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      border-right: 1px solid rgba(0, 0, 0, 0.15);

      &:hover .nav__logo-text {
        color: rgba(255, 255, 255, 1);
        opacity: 0.6;
      }
      &:hover {
        background-color: #0536fc;
      }
      &:hover .arrow-wrapper {
        display: block;
      }
      &:hover .partners__subtitle {
        color: white;
      }
      & .description {
        width: 17vw;
        visibility: hidden;
      }
      &:hover .description {
        visibility: visible;
      }
      & .arrow-wrapper {
        display: none;
      }
    }
  }
  &__subtitle {
    @extend %subtitle-template;
    margin-bottom: 30px;
    position: relative;
    line-height: 24px;
    &--margin {
      margin-bottom: 70px;
    }
  }
  &__title {
    @extend %title-template;
    &--h3 {
      line-height: 40px;
      font-size: 36px;
      margin-bottom: 70px;
      width: 33vw;
    }
  }
  &__img-n-ix {
    width: 90px;
    height: 82px;
    margin-top: 39px;
    margin-bottom: 38px;
  }
  &__img-western {
    width: 209px;
    height: 99px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__img-dhl {
    width: 204px;
    height: 37px;
    margin-top: 61px;
    margin-bottom: 61px;
  }
  &__img-mac-paw {
    width: 204px;
    height: 41px;
    margin-top: 59px;
    margin-bottom: 59px;
  }
  &__img-softserve {
    width: 186px;
    height: 38px;
    margin-top: 61px;
    margin-bottom: 59px;
  }
}
